# Dependencies
node_modules

# Next.js
.next/
out/

# Production
build
dist
dist-ssr

# Env files
.env
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# DB
local.db
local.db-*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo
